body,
html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    position: relative;
}

.logo-login::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8px;
    box-shadow: 8px 0 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
    padding: 30px;
}

.logo-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.login-right {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/bg.png');
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.blue-container {
    background-color: #3CE0FF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: calc(100vh - 70px - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.input-group-addon {
    background-color: transparent;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    color: #002B48;
}

.input-group {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #002B48;
    z-index: 10;
}

.input-group .bi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #002B48;
}

.input-group .bi-envelope-fill {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #002B48;
}

.form-control {
    background-color: #fff;
    border: none;
    border-radius: 50px;
    height: 40px;
    font-size: 14px;
    color: #002B48;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    border-radius: 50px;
    width: calc(100% - 80px);
    box-sizing: border-box;
}

.form-control::-webkit-input-placeholder {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #002B48;
}

.input-login,
.input-password {
    border-radius: 25px !important;
}

.btn-login {
    background-color: #002B48;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 12px 40px;
    transition: all 0.2s ease;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: rgba(0, 43, 72, 0.8);
    color: #fff;
}

.btn-register-button {
    color: #002B48;
    font-size: 14px;
    transition: all 0.2s ease;
    font-family: 'Segoe UI', sans-serif;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.forgot-password:hover {
    text-decoration: underline;
    color: rgba(0, 43, 72, 0.8);
}

@media (max-width: 990px) {
    .logo-login {
        display: flex;
        height: auto;
        position: static;
        padding-bottom: 20px;
    }

    .logo-login::before {
        display: none;
    }

    .login-right {
        padding: 20px;
        height: auto;
        background-image: none;
    }

    .blue-container {
        padding: 30px 20px;
        height: auto;
        margin-bottom: 20px;
        max-width: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .logo-login {
        display: flex;
        height: auto;
        position: static;
        padding: 5vh 0;
    }

    .logo-login::before {
        display: none;
    }

    .login-right {
        padding: 20px;
        height: auto;
        background-image: none;
    }

    .logo-container {
        padding: 20px;
    }

    .logo-img {
        max-width: 200px;
    }

    .blue-container {
        padding: 30px 20px;
        height: auto;
        margin-bottom: 20px;
        max-width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .blue-container {
        max-width: 800px;
    }
}
